<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.jss"></script>
    </head>

    <body>
        <div class="ui grid padded ">
            <div class="sixteen wide column">
                <div class="ui segment centered padded">
                    <div class="card">
                      <div class="content">
                        <h2 class="ui center aligned icon header">
                            <i class="circular audio description icon"></i>
                            Transcript
                        </h2>
                        <div class="meta ui huge header centered red">
                            {{new_file_name}}
                        </div>
                        <div class="description ui large header centered">
                            {{transcript}}
                        </div>
                        <div class="description ui small header centered">
                            {{phoneme}}
                        </div>
                      </div>
                      <div class="content center">
                        <div style="display: flex; justify-content: space-around; margin-top: 30px;">
                            <form action="{% url 'record' %}" method="POST">
                                {% csrf_token %}
                                <div class="ui left action input">
                                    <button class="ui green labeled icon button" id="submit" type="submit">
                                      <i class="play circle icon"></i>
                                      Record
                                    </button>
                                    <input type="text" value={{new_file_name}} >
                                </div>
                            </form>
                            <form action="{% url 'stopRecord' %}" method="POST">
                                {% csrf_token %}
                                <button id="submit" type="submit" value="Stop Record" class="ui red labeled icon button">
                                    <i class="stop circle outline icon"></i>
                                    Stop Record
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui list">
                    <table class="ui very basic collapsing celled table">
                        <thead>
                            <tr>
                                <h2 class="ui header">
                                    <i class="folder outline icon"></i>
                                    <div class="content">
                                        File names
                                    </div>
                                </h2>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in list_of_files %}
                                <tr>
                                    <td>
                                        <h4 class="ui image header">
                                            <i class="file audio outline icon"></i>
                                            <div class="content">
                                                {{file}}
                                            <!-- <div class="sub header">Human Resources
                                            </div> -->
                                        </div>
                                        </h4>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>